<div class="panel-group" id="announcer-widget-accordion" role="tablist" aria-multiselectable="true">
    
    {% if announcer is not empty %}
        <ul>
            <li>
                <a href="{{ path('formalibre_job_announcer_job_offers_list', {'announcer': announcer.getId()}) }}">
                    {{ 'my_job_offers'|trans({}, 'job') }}
                </a>
            </li>
            <li>
                <a href="{{ path('formalibre_job_announcer_job_requests_list', {'announcer': announcer.getId()}) }}">
                    {{ 'job_requests_list'|trans({}, 'job') }}
                </a>
            </li>
        </ul>
    {% endif %}
</div>